/* input.css (tailwind entry) */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* small custom */
#logo { display: block; width: 50%; height: 50%; margin: auto; padding: 10% 0 0; background-position:center; background-repeat:no-repeat; background-size:100% 100%; background-origin:content-box; }
.result { height:20px; line-height:20px; margin:1.5rem auto; }
.input-box .btn { width:60px; height:30px; line-height:30px; border-radius:3px; border:none; margin:0 0 0 20px; padding:0 8px; cursor:pointer; }
